<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<body>
    <div class="main-container">
        <!-- Chat de Suporte -->
        <div class="chat-container" id="support-chat">
            <div class="chat-header">
                <h2>EmpathiaBot</h2>
            </div>
            <div class="chat-messages">
                <div class="message received">
                    <span class="icon user-icon">
                        <img src="../static/ai.png" alt="Bot Icon" class="icon bot-icon">
                    </span>
                    <p class="user">Seja bem vindo.</p>
                </div>
            </div>
            <div class="chat-input">
                <input type="text" id="support-input" class="chat-input-field" placeholder="Digite sua mensagem...">
                <button id="support-send-button" class="send-button">Enviar</button>
            </div>
        </div>
        <!-- Chat de Estudantes (é uma cópia do chat de suporte, mas com os IDs adaptados) -->
        <div class="chat-container" id="student-chat" style="display: none;">
            <div class="chat-header">
                <h2>EmpathiaBot</h2>
            </div>
            <div class="chat-messages">
                <div class="message received">
                    <span class="icon user-icon">
                        <img src="../static/ai.png" alt="Bot Icon" class="icon bot-icon">
                    </span>
                    <p class="user">Seja bem vindo, estudante!</p>
                </div>
            </div>
            <div class="chat-input">
                <input type="text" id="student-input" class="chat-input-field" placeholder="Digite sua mensagem...">
                <button id="student-send-button" class="send-button">Enviar</button>
            </div>
        </div>
        <br>
        <br>
        <div class="button-container">
            <button id="support-button" class="active">Suporte</button>
            <button id="student-button">Estudantes</button>
        </div>
    </div>
</body>
<script>

    function switchChat(chatToShow, buttonToActivate) {
        document.getElementById('support-chat').style.display = 'none';
        document.getElementById('student-chat').style.display = 'none';
        document.getElementById(chatToShow).style.display = 'block';

        document.getElementById('support-button').classList.remove('active');
        document.getElementById('student-button').classList.remove('active');
        document.getElementById(buttonToActivate).classList.add('active');
    }

    document.getElementById('support-button').addEventListener('click', function () {
        switchChat('support-chat', 'support-button');
    });

    document.getElementById('student-button').addEventListener('click', function () {
        switchChat('student-chat', 'student-button');
    });
    document.getElementById('support-button').addEventListener('click', function () {
        document.getElementById('support-chat').style.display = 'block';
        document.getElementById('student-chat').style.display = 'none';
        this.classList.add('active');
        document.getElementById('student-button').classList.remove('active');
    });

    document.getElementById('student-button').addEventListener('click', function () {
        document.getElementById('support-chat').style.display = 'none';
        document.getElementById('student-chat').style.display = 'block';
        this.classList.add('active');
        document.getElementById('support-button').classList.remove('active');
    });
    function updateEmoji() {
        fetch('/getSentiment')
            .then(response => response.json())
            .then(data => {
                const emoji_map = {
                    "POSITIVO": "😊",
                    "NEGATIVO": "😢",
                    "NEUTRO": "😐"
                };
                const chatHeader = document.querySelector('.chat-header h2');
                chatHeader.textContent = "EmpathiaBot " + emoji_map[data.sentimento];
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    // Atualize o emoji a cada 30 segundos
    setInterval(updateEmoji, 10000);

    function sendMessage(chatType) {
        var userInput = document.getElementById(`${chatType}-input`).value;
        var sendButton = document.getElementById(`${chatType}-send-button`); // Referência para o botão

        // Verificar se o input não está vazio
        if (userInput.trim() !== '') {
            // Adicionar a mensagem do usuário ao chat
            addMessageToChat(userInput, 'user', chatType);

            sendButton.disabled = true; // Desabilitar o botão para evitar mensagens duplicadas

            // Adicionar a mensagem temporária com animação de piscar
            var tempMessage = addTempMessageToChat(chatType);

            fetch('/sendMessage', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ message: userInput, type: chatType })
            })
                .then(response => response.json())
                .then(data => {
                    // Remover a mensagem temporária
                    tempMessage.remove();
                    // Printar a resposta do bot no console
                    console.log(data);
                    // Adicionar a resposta do bot ao chat com a complexidade
                    addMessageToChat(data.response, 'bot', chatType);
                    showTooltipForLastUserMessage(data.isComplex);
                    sendButton.disabled = false;
                })
                .catch(error => {
                    // Remover a mensagem temporária em caso de erro também
                    tempMessage.remove();
                    console.error('Error:', error);
                });

            // Limpar o campo de entrada
            document.getElementById(`${chatType}-input`).value = '';
        }
    }

    let speechSynthesis = window.speechSynthesis;
    let currentUtterance = null;

    function showTooltipForLastUserMessage(isComplex) {
        const sentMessages = document.querySelectorAll(".message.sent");
        if (sentMessages.length > 0) {
            const lastSentMessage = sentMessages[sentMessages.length - 1];
            const lastUserMessageTooltip = lastSentMessage.querySelector(".user-message-tooltip");
            if (lastUserMessageTooltip) {
                lastUserMessageTooltip.style.display = 'block';
                lastUserMessageTooltip.style.opacity = '1 !important';
                lastUserMessageTooltip.textContent = isComplex ? 'DeepLearning' : 'Similaridade';
            }
            console.log(lastUserMessageTooltip);
        }
    }


    function addMessageToChat(message, sender, chatType) {
        // Criar os elementos necessários
        var messageDiv = document.createElement('div');
        var messageP = document.createElement('p');
        var iconSpan = document.createElement('span');
        var iconImg = document.createElement('img');
        var messageToolTip = document.createElement('div');

        // Configurar os atributos e classes dos elementos
        messageDiv.className = 'message ' + (sender === 'user' ? 'sent' : 'received');
        messageP.className = sender === 'user' ? 'bot' : 'user';
        messageToolTip.className = 'user-message-tooltip';
        messageP.textContent = message;
        iconSpan.className = 'icon ' + (sender === 'user' ? 'bot-icon' : 'user-icon');
        iconImg.src = '../static/' + (sender === 'user' ? 'user.png' : 'ai.png');
        iconImg.alt = sender === 'user' ? 'User Icon' : 'Bot Icon';
        iconImg.className = 'icon ' + (sender === 'user' ? 'user-icon' : 'bot-icon');

        // Anexar os elementos juntos
        iconSpan.appendChild(iconImg);
        if (sender === 'user') {
            messageDiv.appendChild(messageP);
            messageDiv.appendChild(iconSpan);
            messageDiv.appendChild(messageToolTip);
        } else {
            messageDiv.appendChild(iconSpan);
            messageDiv.appendChild(messageP);
        }
        if (sender === 'bot') {
            var btn = document.createElement('span');
            btn.className = 'play-icon';
            btn.innerHTML = '<i class="fas fa-play"></i>';
            messageDiv.appendChild(btn);

            // Adicionar um evento de clique ao ícone
            btn.addEventListener('click', function (event) {
                playBotResponse(message, btn);
            });
        }

        // Escolha o chat correto com base no chatType
        var chatMessages = document.querySelector(`#${chatType}-chat .chat-messages`);

        // Adicionar a nova mensagem ao chat
        chatMessages.appendChild(messageDiv);

        // Chamar a função para rolar para a parte inferior
        scrollToBottom();
    }

    function playBotResponse(message, btn) {
        if (currentUtterance) {
            speechSynthesis.cancel(); // Interrompe qualquer fala atual
            resetAllButtons();
            btn.innerHTML = '<i class="fas fa-play"></i>';
            currentUtterance = null;
            return;
        }
        disableAllButtonsExcept(btn);

        currentUtterance = new SpeechSynthesisUtterance(message);

        currentUtterance.onend = function () {
            enableAllButtons();
            btn.innerHTML = '<i class="fas fa-play"></i>';
            currentUtterance = null;
        };
        speechSynthesis.speak(currentUtterance);

        // Mudando icone para pause
        btn.innerHTML = '<i class="fas fa-pause"></i>';
    }

    function resetAllButtons() {
        let allBtns = document.querySelectorAll(".play-icon");
        allBtns.forEach(function (btn) {
            btn.innerHTML = '<i class="fas fa-play"></i>';
            btn.classList.remove('disabled'); // Remove a classe 'disabled'
        });
    }

    function disableAllButtonsExcept(btn) {
        let allBtns = document.querySelectorAll(".play-icon");
        allBtns.forEach(function (button) {
            if (btn !== button) {
                button.classList.add('disabled'); // Adicione a classe 'disabled'
            }
        });
        btn.classList.remove('disabled');
    }

    function enableAllButtons() {
        let allBtns = document.querySelectorAll(".play-icon");
        allBtns.forEach(function (btn) {
            btn.classList.remove('disabled'); // Remove a classe 'disabled'
        });
    }
    function addTempMessageToChat(chatType) {
        // Criar os elementos necessários
        var messageDiv = document.createElement('div');
        var messageP = document.createElement('p');
        var iconSpan = document.createElement('span');
        var iconImg = document.createElement('img');

        // Configurar os atributos e classes dos elementos
        messageDiv.className = 'message received blinking'; // Adicione a classe 'blinking' aqui
        messageP.innerHTML = '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;';
        iconSpan.className = 'icon user-icon';
        iconImg.src = '../static/ai.png';
        iconImg.alt = 'Bot Icon';
        iconImg.className = 'icon bot-icon';

        // Anexar os elementos juntos
        iconSpan.appendChild(iconImg);
        messageDiv.appendChild(iconSpan);
        messageDiv.appendChild(messageP);

        // Use chatType para determinar a qual chat adicionar a mensagem temporária
        var chatMessages = document.querySelector(`#${chatType}-chat .chat-messages`);

        // Adicionar a nova mensagem ao chat
        chatMessages.appendChild(messageDiv);

        // Chamar a função para rolar para a parte inferior
        scrollToBottom();

        return messageDiv; // Retorne a div para que possamos removê-la mais tarde
    }


    function scrollToBottom() {
        var chatMessages = document.querySelector('.chat-messages');
        chatMessages.scrollTop = chatMessages.scrollHeight;
    }
    document.getElementById('support-send-button').addEventListener('click', function () {
        sendMessage('support');
    });
    document.getElementById('student-send-button').addEventListener('click', function () {
        sendMessage('student');
    });

</script>

</html>